.layout {
  display: flex;

  .layout-content {
    width: auto;
    padding: 6px;
  }

  .layout-left-menu {
    width: 200px;
  }

  .layout-right-block {
    width: 200px;
    margin-left: auto;
  }
}
